<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Index</h2>
<p>
    <a th:href="{/create}">
        Add New
    </a>
</p>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>

    </div>

</div>
<div class="contentContainer">
    <div class="panel-heading">THÔNG TIN NGƯỜI DÙNG</div>
    <div class="panel-body">
        <table class="table table-primary" id="khang">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date-Of-Birth</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row,rowStart : ${khang}">
                <td th:text="${rowStart.index + 1}"></td>
                <td th:text="${row.getTen()}"></td>
                <td th:text="${row.getNgaysinh()}"></td>
                <td th:text="${row.getEmail()}"></td>
                <td th:text="${row.getSdt()}"></td>
                <td><a th:href="@{/row/{id}/edit(id=${row.getId()})}">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>