<span>
  Create Customers
</span>
<form #createForm ="ngForm"
      (ngSubmit)="onSubmit(createForm)"
>
  <div class="form-group">
    <label for="id">ID</label>
    <input
      ngModel
      name="id"
      type="text" class="form-control" id="id" aria-describedby="emailHelp" placeholder="Enter ID">
  </div>
  <div class="form-group">
    <label for="ten">Name</label>
    <input
      ngModel
      name="ten"
      type="text" class="form-control" id="ten" aria-describedby="emailHelp" placeholder="Enter Name">
  </div>
  <div class="form-group">
    <label for="vitri ">Position</label>
    <input
      ngModel
      name="vitri"
      type="text" class="form-control" id="vitri " aria-describedby="emailHelp" placeholder="Enter Position">
  </div>
  <div class="form-group">
    <label for="ngaysinh">Birthday</label>
    <input
      ngModel
      name="ngaysinh"
      type="date" class="form-control" id="ngaysinh" aria-describedby="emailHelp" placeholder="Enter Email">
  </div>
  <div class="form-group">
    <label for="email">Address</label>
    <input
      ngModel
      name="email"
      type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email">
  </div>
  <div class="form-group">
    <label for="sdt">Phone</label>
    <input
      ngModel
      name="sdt"
      type="text" class="form-control" id="sdt" aria-describedby="emailHelp" placeholder="Enter ">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Do You Not robot</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
