<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">Birthday</th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cd of customer">
    <td>{{cd.id}}</td>
    <td>{{cd.name}}</td>
    <td>{{cd.add}}</td>
    <td>{{cd.birthday}}</td>
    <td>{{cd.email}}</td>
    <td>{{cd.phone}}</td>
    <td>
      <button type="button" class="btn btn-primary">Edit</button>
      <button type="button" class="btn btn-danger">Remove</button>
    </td>
  </tr>
  </tbody>
</table>
