* {
    padding: 0;
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block
}

audio, canvas, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

a {
    background: transparent
}

a:focus {
    outline: 0
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

mark {
    background: #ff0;
    color: #000
}

code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 1em
}

pre {
    white-space: pre-wrap
}

q {
    quotes: "“" "”" "‘" "’"
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

button, input {
    line-height: normal
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.text-center {
    text-align: center
}

#colorbox, #cboxOverlay, #cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden
}

#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%
}

#cboxMiddleLeft, #cboxBottomLeft {
    clear: left
}

#cboxContent {
    position: relative
}

#cboxLoadedContent {
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

#cboxTitle {
    margin: 0
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer
}

.cboxPhoto {
    float: left;
    margin: auto;
    border: 0;
    display: block;
    max-width: none
}

.cboxIframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0
}

#colorbox, #cboxContent, #cboxLoadedContent {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box
}

#cboxOverlay {
    background: #000
}

#colorbox {
    outline: 0
}

#cboxContent {
    margin-top: 20px
}

.cboxIframe {
    background: #fff
}

#cboxError {
    padding: 50px;
    border: 1px solid #ccc
}

#cboxLoadedContent {
    border-radius: 6px
}

#cboxTitle {
    position: absolute;
    top: -20px;
    left: 0;
    color: #ccc
}

#cboxCurrent {
    position: absolute;
    top: -20px;
    right: 0;
    color: #ccc
}

#cboxLoadingGraphic {
    background: url(images/loading.gif) no-repeat center center
}

#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    width: auto;
    background: none
}

#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
    outline: 0
}

#cboxSlideshow {
    position: absolute;
    top: -20px;
    right: 90px;
    color: #fff
}

#cboxPrevious {
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -32px;
    background: url(images/controls.png) no-repeat top left;
    width: 28px;
    height: 65px;
    text-indent: -9999px
}

#cboxPrevious:hover {
    background-position: bottom left
}

#cboxNext {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -32px;
    background: url(images/controls.png) no-repeat top right;
    width: 28px;
    height: 65px;
    text-indent: -9999px
}

#cboxNext:hover {
    background-position: bottom right
}

#cboxClose {
    color: #fff;
    display: block;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px
}

#cboxClose:hover {
    color: #000
}

.nivoSlider {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden
}

.nivoSlider img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: none
}

.nivo-main-image {
    display: block !important;
    position: relative !important;
    width: 100% !important
}

.nivoSlider a.nivo-imageLink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 6;
    display: none;
    background: #fff;
    filter: alpha(opacity=0);
    opacity: 0
}

.nivo-slice {
    display: block;
    position: absolute;
    z-index: 5;
    height: 100%;
    top: 0
}

.nivo-box {
    display: block;
    position: absolute;
    z-index: 5;
    overflow: hidden
}

.nivo-box img {
    display: block
}

.nivo-caption {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #000;
    color: #fff;
    width: 100%;
    z-index: 8;
    padding: 5px 10px;
    opacity: .8;
    overflow: hidden;
    display: none;
    -moz-opacity: .8;
    filter: alpha(opacity=8);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.nivo-caption p {
    padding: 5px;
    margin: 0
}

.nivo-caption a {
    display: inline !important
}

.nivo-html-caption {
    display: none
}

.nivo-directionNav a {
    position: absolute;
    top: 45%;
    z-index: 9;
    cursor: pointer
}

.nivo-prevNav {
    left: 0
}

.nivo-nextNav {
    right: 0
}

.nivo-controlNav {
    text-align: center;
    padding: 15px 0
}

.nivo-controlNav a {
    cursor: pointer
}

.nivo-controlNav a.active {
    font-weight: bold
}

.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
    *zoom: 1
}

.bx-wrapper img {
    max-width: 100%;
    display: block
}

.bx-wrapper .bx-viewport {
    background: #fff;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0)
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%
}

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(images/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000
}

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px
}

.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000
}

.bx-wrapper .bx-prev {
    background: url("images/sprites.png") repeat scroll -2px 0;
    left: 10px
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url("images/sprites.png") repeat scroll -61px 0
}

.bx-wrapper .bx-prev:hover {
    background-position: -2px -56px
}

.bx-wrapper .bx-next:hover {
    background-position: -61px -56px
}

.bx-wrapper .bx-controls-direction a {
    height: 50px;
    margin-top: -25px;
    outline: 0 none;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 50px;
    z-index: 9999;
    opacity: 0;
    transition: opacity .5s
}

.bx-wrapper:hover .bx-controls-direction a {
    opacity: 1
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none
}

.bx-wrapper .bx-controls-auto {
    text-align: center
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -11px no-repeat;
    margin: 0 3px
}

.bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -44px no-repeat;
    margin: 0 3px
}

.bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px
}

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666 \9;
    background: rgba(80, 80, 80, .75);
    width: 100%
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px
}

.Zebra_DatePicker *, .Zebra_DatePicker *:after, .Zebra_DatePicker *:before {
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important
}

.Zebra_DatePicker {
    position: absolute;
    background: #666;
    border: 3px solid #666;
    display: none;
    z-index: 100;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 13px
}

.Zebra_DatePicker * {
    margin: 0;
    padding: 0;
    color: #000;
    background: transparent;
    border: none
}

.Zebra_DatePicker table {
    border-collapse: collapse;
    border-spacing: 0
}

.Zebra_DatePicker td, .Zebra_DatePicker th {
    text-align: center;
    padding: 5px 0
}

.Zebra_DatePicker td {
    cursor: pointer
}

.Zebra_DatePicker .dp_daypicker, .Zebra_DatePicker .dp_monthpicker, .Zebra_DatePicker .dp_yearpicker {
    margin-top: 3px
}

.Zebra_DatePicker .dp_daypicker td, .Zebra_DatePicker .dp_daypicker th, .Zebra_DatePicker .dp_monthpicker td, .Zebra_DatePicker .dp_yearpicker td {
    background: #e8e8e8;
    width: 30px;
    border: 1px solid #7bacd2
}

.Zebra_DatePicker, .Zebra_DatePicker .dp_header .dp_hover, .Zebra_DatePicker .dp_footer .dp_hover {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.Zebra_DatePicker .dp_header td {
    color: #fff
}

.Zebra_DatePicker .dp_header .dp_previous, .Zebra_DatePicker .dp_header .dp_next {
    width: 30px
}

.Zebra_DatePicker .dp_header .dp_caption {
    font-weight: bold
}

.Zebra_DatePicker .dp_header .dp_hover {
    background: #222;
    color: #fff
}

.Zebra_DatePicker .dp_daypicker th {
    background: #fc3
}

.Zebra_DatePicker td.dp_not_in_month {
    background: #f3f3f3;
    color: #cdcdcd;
    cursor: default
}

.Zebra_DatePicker td.dp_not_in_month_selectable {
    background: #f3f3f3;
    color: #cdcdcd;
    cursor: pointer
}

.Zebra_DatePicker td.dp_weekend {
    background: #d8d8d8
}

.Zebra_DatePicker td.dp_weekend_disabled {
    color: #ccc;
    cursor: default
}

.Zebra_DatePicker td.dp_selected {
    background: #5a4b4b;
    color: #fff !important
}

.Zebra_DatePicker td.dp_week_number {
    background: #fc3;
    color: #555;
    cursor: text;
    font-style: italic
}

.Zebra_DatePicker .dp_monthpicker td {
    width: 33%
}

.Zebra_DatePicker .dp_yearpicker td {
    width: 33%
}

.Zebra_DatePicker .dp_footer {
    margin-top: 3px
}

.Zebra_DatePicker .dp_footer .dp_hover {
    background: #222;
    color: #fff
}

.Zebra_DatePicker .dp_today {
    color: #fff;
    padding: 3px
}

.Zebra_DatePicker .dp_clear {
    color: #fff;
    padding: 3px
}

.Zebra_DatePicker td.dp_current {
    color: #c40000
}

.Zebra_DatePicker td.dp_disabled_current {
    color: #e38585
}

.Zebra_DatePicker td.dp_disabled {
    background: #f3f3f3;
    color: #cdcdcd;
    cursor: default
}

.Zebra_DatePicker td.dp_hover {
    background: #482424;
    color: #fff
}

button.Zebra_DatePicker_Icon {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: url('images/calendar.png') no-repeat left top;
    text-indent: -9000px;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 0;
    vertical-align: top
}

button.Zebra_DatePicker_Icon_Disabled {
    background-image: url('images/calendar-disabled.png')
}

button.Zebra_DatePicker_Icon {
    margin: 0 0 0 3px
}

button.Zebra_DatePicker_Icon_Inside {
    margin: 0 3px 0 0
}

* {
    padding: 0;
    margin: 0
}

body {
    font-family: arial, sans-serif;
    font-size: 12px
}

a {
    text-decoration: none
}

.dialog {
    background: none repeat scroll 0 0 rgba(255, 255, 255, .24);
    border-radius: 5px;
    padding: 5px
}

.dialog-wrap {
    background: #fff;
    border-radius: 5px
}

.dialog-title {
    border-radius: 5px 5px 0 0;
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    padding-left: 10px;
    text-transform: uppercase;
    background: url("images/bg_top.png") repeat-x scroll 50% 0 rgba(0, 0, 0, 0)
}

.dialog-content {
    padding: 10px;
    position: relative
}

.dialog-loading {
    background: url("images/loading.gif") no-repeat scroll center center #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none
}

.dialog-wrap {
}

.carts {
}

.carts table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%
}

.carts tr:last-child td {
    border-top: 1px solid #ccc
}

.carts td {
    text-align: center;
    padding: 5px;
    vertical-align: top
}

.carts th {
    text-align: center;
    color: #444;
    padding: 5px
}

.carts td img {
    height: 70px
}

.cart-quantity {
}

a.cart-checkout {
}

.cart-up-quantity, .cart-down-quantity {
    display: inline-block;
    width: 10px;
    height: 15px;
    background: url('Images/checkout-uparrow.png') no-repeat center center;
    margin-left: 5px;
    text-indent: -500em;
    cursor: pointer
}

.cart-down-quantity {
    background-image: url('Images/checkout-downarrow.png')
}

.cart-remove {
    border: none;
    background: none;
    cursor: pointer;
    color: red
}

.dialog-action {
    margin-top: 10px;
    margin-bottom: 5px
}

.dialog-action a {
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    padding: 5px 15px;
    text-transform: uppercase;
    color: #333;
    font-weight: bold
}

.dialog-action a.next {
    background-color: #00870a;
    color: #fff;
    float: right
}

.dialog-action a.next:hover {
    background-color: #006400
}

.dialog-action a.prev {
    background: none repeat scroll 0 0 #eee;
    color: #666
}

.dialog-action a.prev:hover {
    background: #ccc
}

.cart-name {
    color: #cf6b50;
    font-weight: bold
}

.checkout-box {
    color: #555
}

.checkout-title {
    padding-bottom: 5px;
    margin-bottom: 5px;
    color: #000
}

.checkout-box table {
    border: 1px solid #ccc
}

.checkout-box p {
    padding: 10px 0
}

.checkout-box label {
    float: left;
    width: 150px
}

.checkout-customer {
    padding-top: 20px
}

.checkout-price {
}

.checkout-totalprice {
    margin-top: 10px
}

.checkout-totalprice span {
    font-weight: bold;
    color: red;
    font-size: 16px
}

.checkout-back {
    background-color: #ececec;
    border: 0 none;
    color: #444;
    cursor: pointer;
    font-size: 14px;
    padding: 6px 15px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px
}

.checkout-submit {
    background-color: #00870a;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 6px 15px;
    text-transform: uppercase;
    display: inline-block
}

.checkout-thankyou {
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #f90000
}

.checkout-thankyou p {
    padding-top: 5px
}

.checkout-box input[type="text"], .checkout-box input[type="tel"], .checkout-box input[type="email"], .checkout-box textarea {
    padding: 5px;
    font-size: 12px;
    width: 250px;
    font-family: arial, sans-serif;
    border-radius: 3px;
    border: 1px solid #ccc
}

.checkout-box select {
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 5px
}

.checkout-box textarea {
    width: 420px;
    height: 40px
}

.field-validation-error {
    color: red
}

.field-validation-valid {
    display: none
}

.input-validation-error {
    border: 1px solid red;
    background-color: #fee
}

.validation-summary-errors {
    font-weight: bold;
    color: red
}

.checkout-head {
    text-align: justify;
    border-bottom: 1px solid #cecece;
    height: 60px;
    margin-bottom: 20px;
    padding: 0 10px 5px
}

.checkout-head:before {
    content: '';
    display: block;
    width: 100%
}

.checkout-head:after {
    content: '';
    display: inline-block;
    width: 100%
}

.checkout-head .sep {
    display: inline-block;
    background: url("Images/sep.png") no-repeat scroll center center transparent;
    width: 16px;
    height: 60px
}

.checkout-head .step {
    vertical-align: top;
    display: inline-block;
    background: url("Images/step1.png") no-repeat scroll 0 center transparent;
    padding-left: 50px;
    height: 60px
}

.checkout-head .step2 {
    background-image: url('images/step2.png');
    padding-left: 65px
}

.checkout-head .step12 {
    background-image: url('images/step12.png');
    padding-left: 65px
}

.checkout-head .step3 {
    background-image: url('images/step3.png');
    padding-left: 40px
}

.checkout-head h4 {
    color: #666;
    font-size: 14px;
    padding: 10px 0 5px
}

.checkout-wrap {
}

.checkout-wrap .step0wrap, .checkout-wrap .step1wrap, .checkout-wrap .step2wrap, .checkout-wrap .step3wrap {
    display: none
}

.checkout-wrap#step0 .step0wrap {
    display: block
}

.checkout-wrap#step1 .step1wrap {
    display: block
}

.checkout-wrap#step2 .step2wrap {
    display: block
}

.checkout-wrap#step3 .step3wrap {
    display: block
}

.checkout-wrap li.olp, .checkout-wrap li.cod, .checkout-wrap li.atm {
    background: url("images/payment/sohapay3.png") no-repeat scroll -5px 0 transparent;
    cursor: pointer;
    display: block;
    padding: 0 0 10px 70px;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    margin-top: 20px
}

.checkout-wrap #choosetype > li:last-child {
    border-bottom: none
}

.checkout-wrap li.cod {
    border-top: none;
    background-image: url("images/payment/cod.png")
}

.checkout-wrap li.atm {
    background-image: url("images/payment/atm.png")
}

.checkout-wrap li input {
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 13px
}

.checkout-wrap li h4 {
    color: #333;
    font-size: 14px;
    padding: 10px 0 0 40px
}

.checkout-wrap li p {
    color: #555;
    font-size: 12px;
    padding: 5px 0 5px 40px
}

.shippingmessage {
    font-weight: bold;
    color: red
}

.checkout-wrap .action {
    padding: 10px;
    margin-top: 10px;
    border-top: 1px solid #ececec
}

.checkout-wrap .action .checkout-next {
    float: right
}

.checkout-wrap .action .checkout-back {
}

.checkout-choosebank ul {
    margin-left: 40px
}

.checkout-choosebank li {
    list-style: none;
    display: inline-block;
    height: 40px;
    width: 200px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc
}

.checkout-choosebank li.active {
    border-color: #000
}

.checkout-choosebank li input {
    display: none
}

.checkout-choosebank li img {
    height: 40px
}

.checkout-banking {
}

.checkout-banking .bank {
}

.checkout-banking .bank .img {
    float: left;
    width: 200px
}

.checkout-banking .bank .img img {
    width: 200px
}

.checkout-banking .bank .info {
    padding-left: 220px
}

.checkout-banking .bank .info p {
    margin-top: 10px
}

.checkout-banking .bank .info strong {
    color: #666
}

.checkout-banking .action {
    text-align: center;
    margin-top: 15px
}

#orderprice {
    color: red
}

#orderprice strong {
}

#orderprice span {
    display: none
}

#orderprice.hascoupon strong {
    text-decoration: line-through
}

#orderprice.hascoupon span {
    display: inline-block
}

.termandcodition {
    display: none
}

.choosetype.active .termandcodition {
    display: block
}

.termandcodition article {
    height: 160px;
    line-height: 20px;
    overflow: auto;
    padding-left: 55px
}

.checkout-wrap li .termandcodition input {
    display: inline;
    margin: 0 5px 0 0
}

.choosetransporttype {
    list-style: none;
    cursor: pointer
}

.choosetransporttype a {
    color: green
}

.show-mobile {
    display: none
}

body {
    color: #333;
    font: 12px "Arial", Arial, Helvetica, sans-serif;
    background: url("images/bg_pattern.jpg")
}

a {
    text-decoration: none
}

ul, li {
    list-style: none
}

.page {
}

.wrapper {
    width: 1000px;
    margin: 0 auto
}

.slider-wrapper {
    width: 1000px;
    margin: 0 auto
}

.header {
    background: url("images2/headerbg.png") repeat-x scroll 50% 0 rgba(0, 0, 0, 0);
    width: 100%;
    height: 150px
}

.header .wrap {
    position: relative;
    height: 150px;
    width: 1000px
}

.header .topbar {
    height: 22px;
    background: rgba(216, 216, 216, .6);
    line-height: 22px;
    text-transform: uppercase
}

.header .topbar a {
    color: #016600;
    font-size: 11px
}

.header .topbar a:hover {
    text-decoration: underline
}

.header .topnav {
    float: left;
    width: 400px
}

.header .topnav > li {
    display: inline;
    position: relative
}

.header .topnav > li a:before {
    content: "|";
    padding: 0 15px
}

.header .topnav > li:first-child a:before {
    content: "";
    padding: 0
}

.header .topprofile {
    float: right
}

.header .topprofile > li {
    display: inline-block
}

.header .topprofile > li a {
    color: #016600
}

.header .topprofile > li a:before {
    content: "|";
    padding: 0 15px
}

.header .topprofile > li:first-child a:before {
    content: "";
    padding: 0
}

.header .topprofile > li:last-child a {
}

.header .cart {
    background: url("images2/cart.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #000;
    height: 55px;
    position: absolute;
    right: 0;
    text-indent: -500em;
    text-transform: uppercase;
    top: 20px;
    width: 55px;
    cursor: pointer
}

.header .search {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    height: 28px;
    position: absolute;
    right: 0;
    top: 90px;
    width: 320px
}

.header .search .text {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    color: #333;
    float: left;
    margin: 6px 0 0 8px;
    padding: 2px;
    width: 300px
}

.header .search .text::-webkit-input-placeholder {
    color: #016600;
    font-style: italic
}

.header .search .text:-moz-placeholder {
    color: #016600;
    font-style: italic
}

.header .search .text::-moz-placeholder {
    color: #016600;
    font-style: italic
}

.header .search .text:-ms-input-placeholder {
    color: #016600;
    font-style: italic
}

.header .search .submit {
    background: url("images2/searchbg.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    border: medium none;
    display: block;
    height: 30px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: -500em;
    width: 30px
}

.header .slogan {
    background: url("images/slogan.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    height: 45px;
    left: 125px;
    position: absolute;
    text-indent: -500em;
    top: 80px;
    width: 300px
}

.header .logo {
    display: block;
    height: 90px;
    left: -1px;
    position: absolute;
    top: 30px;
    width: 514px
}

.header .logo a {
    background: url("images2/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 90px;
    text-indent: -500em;
    width: 514px
}

#mainnav {
    background: url("images2/menubg.png")
}

#mainnav .menu {
    text-align: justify;
    height: 40px;
    line-height: 40px
}

#mainnav .menu > li {
    position: relative;
    width: 250px;
    float: left
}

#mainnav .menu > li > a {
    color: #fff;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px
}

#mainnav .menu > li:hover > a {
    background: #033801
}

#mainnav .menu > li:hover .submenu {
    display: block
}

#mainnav .submenu {
    background: url("images2/menubg.png");
    box-shadow: 2px 4px 3px rgba(0, 0, 0, .6);
    display: none;
    left: 0;
    position: absolute;
    top: 40px;
    z-index: 9999;
    width: 250px
}

#mainnav .submenu > li {
    position: relative
}

#mainnav .submenu > li > a {
    background: none repeat scroll 0 0 #033801;
    color: #fff;
    display: block;
    line-height: 28px;
    margin-top: 1px;
    padding: 0 20px;
    text-transform: uppercase
}

#mainnav .submenu > li:hover > a {
    background: rgba(0, 0, 0, 0)
}

#mainnav .submenu > li:hover .submenu2 {
    display: block
}

#mainnav .submenu2 {
    background: url("images2/menubg.png");
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .6);
    display: none;
    left: 250px;
    position: absolute;
    top: -1px;
    z-index: 9999;
    width: 250px
}

#mainnav .submenu2 > li > a {
    background: none repeat scroll 0 0 #033801;
    color: #fff;
    display: block;
    line-height: 28px;
    margin-top: 1px;
    padding: 0 20px;
    text-transform: uppercase
}

#mainnav .submenu2 > li:first-child a {
    margin-top: 0;
    padding-top: 1px
}

#mainnav .submenu2 > li > a:hover {
    background: rgba(0, 0, 0, 0)
}

.container {
}

.container.wrapper {
    padding-top: 80px
}

.sidebar {
    float: left;
    margin: 0 0 20px;
    width: 220px
}

.main {
    background: none repeat scroll 0 0 #fff;
    float: left;
    margin: 0 0 40px 20px;
    min-height: 237px;
    padding: 0 30px 30px;
    width: 640px;
    position: relative
}

.breadcrumbs {
    font-size: 11px;
    left: 0;
    position: absolute;
    text-transform: uppercase;
    top: -45px
}

.breadcrumbs > * {
    float: left;
    margin: 0
}

.breadcrumbs > *:hover a, .breadcrumbs > *:focus a {
    text-decoration: underline
}

.breadcrumbs > * a, .breadcrumbs > * span {
    color: #333
}

.breadcrumbs > .current {
    color: #333;
    cursor: default
}

.breadcrumbs > .current a {
    color: #333;
    cursor: default
}

.breadcrumbs > .current:hover, .breadcrumbs > .current:hover a, .breadcrumbs > .current:focus, .breadcrumbs > .current:focus a {
    text-decoration: none
}

.breadcrumbs > *:before {
    color: #333;
    content: "›";
    font-size: 14px;
    margin: 0 8px
}

.breadcrumbs > *:first-child:before {
    content: " ";
    margin: 0
}

.listbook {
    background: url("images/book_bg.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
    margin: 10px auto 0;
    padding: 0 50px;
    width: 900px
}

.book {
    float: left;
    margin: 0 10px;
    padding: 5px 0 71px;
    position: relative;
    height: 232px
}

.book.bookimage1 {
}

.book.bookimage1 .image {
}

.book.bookimage1 .image img {
}

.book.bookimage2 {
}

.book.bookimage2 .image {
}

.book.bookimage2 .image img {
}

.book .image {
}

.book .image img {
    height: 226px
}

.book .popup {
    background: url("images2/book_hover.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: none;
    height: 250px;
    left: 15px;
    padding: 5px 20px;
    position: absolute;
    top: 157px;
    width: 200px;
    z-index: 1000
}

.book:hover .popup {
    display: block
}

.book .name {
    height: 20px;
    width: 146px;
    padding: 16px 0 0;
    line-height: 14px
}

.book .name a {
    color: #fff;
    font-size: 10px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase
}

.book .description {
    height: 48px;
    color: #434343;
    line-height: 16px;
    overflow: hidden;
    padding: 5px 0 0
}

.book .description li:before {
    content: "•";
    padding-right: 5px
}

.book .price {
    display: block;
    font-size: 24px;
    margin-top: 8px;
    color: #0f5731
}

.book .price .old {
    text-decoration: line-through;
    font-size: 14px;
    color: #fff
}

.book .addtocart, .book .buynow, .book .preordernow {
    background: url("images2/book_button_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 25px;
    line-height: 25px;
    margin-left: 28px;
    padding: 0;
    text-align: center;
    width: 150px
}

.bookslider {
    padding: 0 20px;
    position: relative
}

.bookslider .next, .bookslider .prev {
    background: url("images2/arrright.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    border: 0 none;
    display: block;
    height: 30px;
    opacity: .8;
    text-indent: -9999px;
    transition: all 200ms ease-in-out 0s;
    width: 30px;
    z-index: 9;
    position: absolute;
    top: 90px
}

.bookslider .next:hover, .bookslider .prev:hover {
    opacity: 1
}

.bookslider .prev {
    left: -8px
}

.bookslider .next {
    background-image: url("images2/arrleft.png");
    right: -8px
}

.listbook3 {
}

.book3 {
    float: left;
    width: 150px;
    position: relative;
    height: 210px
}

.book3.bookimage1 {
}

.book3.bookimage1 .image, .book3.bookimage2 .image {
    padding-top: 70px
}

.book3.bookimage1 .image img, .book3.bookimage2 .image img {
    width: 130px;
    height: 130px
}

.book3.bookimage2 {
}

.book3 .image {
    padding: 10px;
    display: block
}

.book3 .image img {
    width: 130px;
    height: 190px
}

.field-validation-error {
    color: #b94a48
}

.field-validation-valid {
    display: none
}

input.input-validation-error {
    border: 1px solid #b94a48
}

input[type="checkbox"].input-validation-error {
    border: 0 none
}

.validation-summary-errors {
    color: #b94a48
}

.validation-summary-valid {
    display: none
}

.pageheader {
    padding: 24px 0 0
}

.pageheader h1, .pageheader h1 a {
    color: #524643;
    font-size: 18px;
    text-transform: uppercase
}

.pageheader h1 span {
    font-weight: normal;
    color: #524643;
    font-size: 12px;
    margin-left: 15px;
    text-transform: none
}

.block {
}

.block header {
}

.block article {
}

.form {
}

.form p {
    padding-top: 10px
}

.form label {
    display: block
}

.form input[type="text"], .form input[type="password"], .form textarea, .form select {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #bdc2c9;
    color: #555;
    font: 12px "Arial";
    padding: 2px
}

.form input[type="text"], .form input[type="password"] {
    width: 200px
}

.btn {
    background: #00870a;
    border: 1px solid #00870a;
    color: #fff;
    padding: 5px 10px
}

.btn:hover {
    background: #033801
}

.category {
    background: none repeat scroll 0 0 #c4654b;
    border: 1px solid #aa563f;
    color: #ddd;
    padding: 10px 0
}

.category > li {
    position: relative
}

.category > li > a {
    color: #fff;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px
}

.category > li > a:hover {
    text-decoration: underline
}

.category > li.active .subcategory {
    display: block
}

.subcategory {
    display: none;
    padding-left: 20px
}

.subcategory > li {
}

.subcategory > li > a {
    color: #fff;
    padding: 2px 0;
    display: block
}

.subcategory > li > a:before {
    content: "- ";
    padding-right: 5px
}

.subcategory > li > a:hover {
    font-weight: bold
}

.listbook2 {
}

.book2 {
    height: 225px;
    margin: 20px 0 0;
    position: relative
}

.book2 .image {
    display: block;
    float: left;
    height: 226px;
    width: 146px
}

.book2 .image img {
    height: 226px;
    width: 146px
}

.book2 .info {
    float: left;
    margin: 0 0 0 20px;
    width: 320px
}

.book2 .action {
    float: right;
    width: 150px
}

.book2 .flags {
    height: 26px
}

.book2 .flags span {
    display: block;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    padding: 6px 10px 0;
    text-transform: uppercase;
    margin: 0 10px 0 0
}

.book2 .flags span.hot {
    background: none repeat scroll 0 0 #00008b;
    color: #fff
}

.book2 .flags span.sold {
    background: none repeat scroll 0 0 #eee;
    color: #888
}

.book2 .flags span.discount {
    background: none repeat scroll 0 0 #00870a;
    color: #fff
}

.book2 .name {
    padding: 15px 0 0;
    line-height: 12px
}

.book2 .name a {
    color: #cf6b50;
    font-size: 12px;
    text-transform: uppercase
}

.book2 .description {
    color: #333;
    padding-top: 15px
}

.book2 .description a {
    color: #333
}

.book2 .description a:hover {
    text-decoration: underline
}

.book2 .price {
    display: block;
    font-size: 18px;
    padding: 9px 0 0;
    color: #c19f7c
}

.book2 .price .old {
    text-decoration: line-through
}

.pager {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center
}

.pager a {
    color: #333;
    font-size: 18px;
    padding: 0 10px
}

.pager a:hover {
    text-decoration: underline
}

.pager a.current {
    color: #cf6c51;
    font-weight: bold
}

.pager a.next, .pager a.prev {
}

.main .pager a {
    font-size: 12px
}

.bookdetailwrap {
    background: url("images2/headerbg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 4px #444;
    margin: 10px auto;
    padding: 30px;
    width: 940px;
    min-height: 400px
}

.bookdetailwrap .breadcrumbs {
    position: relative;
    top: 0
}

.bookdetail {
    padding: 10px 0 0;
    color: #333
}

.bookdetail .image {
    float: left;
    height: 342px;
    position: relative;
    width: 318px;
    position: relative;
    text-align: center
}

.bookdetail .image img {
    max-height: 320px;
    max-width: 320px;
    border: 1px solid #ccc
}

.bookdetail .image .overlay {
    display: none
}

.bookdetail .info {
    margin-left: 366px;
    border-bottom: 4px solid #cacbcc
}

.bookdetail .info h1 {
    border-bottom: 4px solid #cacbcc;
    line-height: 0;
    padding-bottom: 15px;
    margin-bottom: 30px;
    text-transform: uppercase
}

.bookdetail .info h1 a {
    color: #015e00;
    font-size: 16px;
    line-height: 25px
}

.bookdetail .description {
    padding-left: 320px;
    line-height: 20px
}

.bookdetail .description a {
    color: #333
}

.bookdetail .description a:hover {
    text-decoration: underline
}

.bookdetail .price {
}

.bookdetail .price p {
    margin-bottom: 5px;
    background: #0f5731;
    color: #fff;
    font-size: 14px;
    padding: 8px 5px
}

.bookdetail .price span {
    padding-left: 5px;
    font-size: 20px;
    font-weight: bold
}

.bookdetail .price .oldprice {
    background: #808081;
    font-size: 12px;
    padding: 5px
}

.bookdetail .price .oldprice span {
    text-decoration: line-through;
    font-weight: normal;
    font-size: 12px
}

.bookdetail .sbuttons {
    margin-top: 10px
}

.bookdetail .attributes {
    float: left;
    width: 245px
}

.bookdetail .action {
    margin-left: 315px;
    position: relative
}

.bookdetail .quantitytext {
    font-size: 11px;
    margin-top: 27px;
    padding-bottom: 5px;
    text-transform: uppercase
}

.bookdetail .action select {
    padding: 4px;
    width: 120px;
    margin-left: 5px
}

.bookdetail li {
    border-bottom: 1px solid #999;
    color: #333;
    line-height: 20px;
    padding: 5px 0
}

.bookdetail li:before {
    content: "•";
    padding-right: 5px
}

.bookdetail ul:last-child li:last-child {
    border-bottom: 2px solid #0f5731
}

.bookdetail li a {
    color: #333;
    font-weight: bold
}

.bookdetail li a:hover {
    text-decoration: underline
}

.bookdetail .quantity {
    display: block;
    float: left;
    width: 72px
}

.bookdetail .tbQty {
    border: 1px solid #999;
    font-size: 16px;
    height: 45px;
    text-align: center;
    width: 35px
}

.bookdetail .arrowBlock {
    height: 30px;
    margin-left: -2px;
    float: right;
    width: 30px
}

.bookdetail .addtocart, .bookdetail .buynow, .bookdetail .preordernow, .bookdetail .readdemo {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 49px;
    margin-left: 85px;
    margin-top: 0;
    padding: 0;
    width: 176px;
    text-indent: -500em
}

.bookdetail .addtocart {
    background-image: url('images2/addtocart.png')
}

.bookdetail .readdemo {
    background-image: url('images2/readdemo.png')
}

.bookdetail .buynow {
    background-image: url('images2/buynow.png')
}

.bookdetail .preordernow {
    background-image: url('images2/preorder.png')
}

.bookdetail .intro {
}

.bookdetail .upQty, .bookdetail .downQty {
    background: url("images2/cartdown.png");
    height: 21px;
    width: 21px;
    display: block
}

.bookdetail .upQty {
    background: url("images2/cartup.png");
    margin-bottom: 5px
}

.bookdetailblock {
    border-top: 4px solid #cacbcc;
    margin-top: 50px;
    padding-top: 20px;
    position: relative
}

.bookdetailblock h1 {
    background: none repeat scroll 0 0 #0f5731;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    left: 0;
    padding: 8px 15px;
    position: absolute;
    text-transform: uppercase;
    top: -32px
}

.bookdetailblock h1 a {
    color: #fff
}

.bookdetailblockcontent {
    color: #334
}

.bookdetailblockcontent h1 {
    border: medium none;
    color: #0f5731;
    font-size: 24px;
    font-style: italic;
    font-weight: normal;
    margin-top: 10px;
    text-align: center
}

.bookdetailblockcontent article {
    font-size: 14px !important;
    line-height: 21px !important;
    font-family: arial !important;
    word-wrap: break-word
}

.bookdetailblockcontent article p {
    margin-bottom: 10px
}

.bookdetailtabs {
    margin-top: 25px
}

.bookdetailtabs .tabhead {
}

.bookdetailtabs .tabhead dd {
    float: left
}

.bookdetailtabs .tabhead dd a {
    color: #555;
    cursor: pointer;
    display: block;
    font-size: 11px;
    height: 20px;
    padding: 5px 15px 0;
    text-decoration: none;
    text-transform: uppercase
}

.bookdetailtabs .tabhead dd:hover a, .tabs .tabhead dd.active a {
    background: #eee
}

.bookdetailtabs .tabcontent {
    position: relative;
    background: #eee;
    padding: 14px 20px;
    display: none
}

.bookdetailtabs .tabcontent.active {
    display: block
}

.addtocart, .buynow, .readdemo, .preordernow {
    background: #cf6b50;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-top: 5px;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 5px
}

.footer {
    background: url("images2/headerbg.png") repeat-x scroll 50% 0 rgba(0, 0, 0, 0);
    border-top: 8px solid rgba(216, 216, 216, .6)
}

.footer .copyright {
    text-align: center;
    border-top: 4px solid rgba(216, 216, 216, .8);
    color: #fff;
    background: url("images2/menubg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    line-height: 20px;
    padding-bottom: 5px
}

.footermenu {
    height: 200px
}

.footermenu .col {
    float: left;
    margin-right: 40px;
    margin-top: 20px;
    width: 280px
}

.footermenu .col ul {
}

.footermenu .col li {
    background: url("images2/arricon.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    border-bottom: 1px solid #c2c2c2;
    padding: 10px 0 10px 30px
}

.footermenu .col li a {
    color: #0f5731;
    font-size: 16px;
    text-decoration: none
}

.footermenu .col li a:hover {
    text-decoration: underline
}

.footermenu .socialbtn {
    float: right;
    padding: 48px 0 0
}

.footermenu .socialbtn a {
    display: inline-block;
    margin-right: 10px;
    background: url(images2/shareicons2.png) no-repeat;
    width: 45px;
    height: 45px;
    text-indent: -500em
}

.footermenu .socialbtn a.rss {
    background-position: -58px 0
}

.footermenu .socialbtn a.twitter {
    background-position: -116px 0
}

.footermenu .socialbtn a.pinterest {
    background-position: -178px 0
}

.footermenu .socialbtn a.behance {
    background-position: -237px 0
}

.checkorder {
}

.checkorder .form {
    margin: 10px 0
}

.checkorder .form .text {
    padding: 5px 10px;
    font-size: 12px;
    font-family: Arial;
    width: 350px
}

.checkorder .form .submit {
    background: none repeat scroll 0 0 #00870a;
    border: 1px solid #00870a;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px
}

.checkorder h3 {
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 14px
}

.checkorder p {
    margin-bottom: 10px
}

.checkorder p label {
    display: inline-block;
    width: 150px
}

.checkorder table {
    width: 100%
}

.checkorder td, .checkorder th {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center
}

.checkorder table a {
    color: #333;
    font-weight: bold
}

.checkorder .message {
    color: red;
    font-weight: bold
}

.pagetitle {
    color: #000;
    margin: 25px auto 30px;
    padding: 0;
    text-align: center;
    width: 888px
}

.pagetitle a {
    background: url("images2/lbcenter.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    color: #fff;
    display: inline-block;
    font-family: 'Times New Roman';
    font-size: 20px;
    font-weight: normal;
    padding: 28px 10px 35px;
    position: relative;
    text-shadow: 1px 1px 1px rgba(116, 117, 118, .5);
    text-transform: uppercase
}

.pagetitle a:before {
    background: url("images2/lbleft.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: " ";
    display: block;
    height: 85px;
    left: -32px;
    position: absolute;
    top: 0;
    width: 32px;
    padding: 0
}

.pagetitle a:after {
    background: url("images2/lbright.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: " ";
    display: block;
    height: 85px;
    position: absolute;
    right: -32px;
    top: 0;
    padding: 0;
    width: 32px
}

.pagetitle span {
    font-size: 16px;
    text-shadow: none;
    padding-left: 15px
}

.theme-default .nivoSlider {
    position: relative;
    background: #fff url(images/loading.gif) no-repeat 50% 50%;
    margin-top: 10px;
    overflow: visible;
    position: relative
}

.theme-default .nivoSlider img {
    position: absolute;
    top: 0;
    left: 0;
    display: none
}

.theme-default .nivoSlider a {
    border: 0;
    display: block
}

.theme-default .nivo-controlNav {
    background: url("images2/slidebottombg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    line-height: 0;
    padding: 5px;
    text-align: center
}

.theme-default .nivo-controlNav a {
    background: #fff;
    border: 0 none;
    display: inline-block;
    height: 8px;
    margin: 0 2px;
    text-indent: -9999px;
    width: 8px;
    border-radius: 10px;
    opacity: .6
}

.theme-default .nivo-controlNav a.active {
    opacity: 1
}

.theme-default .nivo-directionNav a {
    display: block;
    width: 30px;
    height: 30px;
    background: url(images2/arrright.png) no-repeat center center;
    text-indent: -9999px;
    border: 0;
    opacity: .8;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    z-index: 9
}

.theme-default:hover .nivo-directionNav a {
    opacity: 1
}

.theme-default a.nivo-nextNav {
    background: url(images2/arrleft.png) no-repeat;
    right: -40px
}

.theme-default a.nivo-prevNav {
    left: -40px
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif
}

.theme-default .nivo-caption a {
    color: #fff;
    border-bottom: 1px dotted #fff
}

.theme-default .nivo-caption a:hover {
    color: #fff
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
    width: 100%
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
    width: auto;
    height: auto;
    background: none;
    margin-bottom: 5px
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
    display: block;
    width: 120px;
    height: auto
}

.shippingmessage {
    font-weight: bold;
    color: red
}

.signup-button-facebook {
    border-color: #2f426f;
    background: #3c5fa8;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#476fc2), to(#314f8e));
    background: -webkit-linear-gradient(0% 0%, 0% 100%, from(#476fc2), to(#314f8e));
    background: -moz-linear-gradient(center top, #476fc2, #314f8e);
    background: linear-gradient(#476fc2, #314f8e);
    padding: 6px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px
}

.signup-button-facebook:hover, .signup-button-facebook:active {
    background: #335397;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3c63b4), to(#2a447b));
    background: -webkit-linear-gradient(0% 0%, 0% 100%, from(#3c63b4), to(#2a447b));
    background: -moz-linear-gradient(center top, #3c63b4, #2a447b);
    background: linear-gradient(#3c63b4, #2a447b)
}

.signup-button-facebook:active {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .33);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, .33);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .33)
}

.message {
    color: #006400;
    font-weight: bold;
    text-align: center;
    padding: 10px
}

.error {
    color: red;
    font-weight: bold;
    text-align: center;
    padding: 10px
}

.articledetail {
    line-height: 20px;
    margin-top: 20px;
    color: #333
}

.articledetail img {
    max-width: 900px !important
}

.listaccessorywrap {
    background: url('images2/listacessorybg.jpg');
    padding: 15px;
    width: 970px;
    margin: 30px auto
}

.listaccessory {
}

.accessory {
    width: 230px;
    height: 305px;
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;
    background: #fff;
    box-shadow: 1px 1px 1px #ccc
}

.accessory:nth-child(4n) {
    margin-right: 0
}

.accessory .title {
    height: 38px;
    background: url('images2/accessorybg.jpg');
    border-bottom: 1px solid #c2c2c2;
    padding-top: 10px;
    color: #016600;
    font-weight: normal;
    text-align: center;
    font-size: 14px
}

.accessory .img {
    height: 214px;
    padding: 10px
}

.accessory .img img {
    height: 214px;
    width: 210px
}

.accessory .price {
    height: 30px;
    background: url('images2/accessorybg.jpg');
    padding-top: 5px;
    font-size: 18px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    color: #016600
}

.accessory .price .old {
    position: absolute;
    right: 10px;
    top: 10px;
    text-decoration: line-through;
    font-size: 14px;
    color: #888
}

.accessorypopup {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 6669
}

.accessorypopup .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background: rgba(0, 0, 0, .6)
}

.accessorypopup .content {
    background: url("images2/listacessorybg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 400px auto 0;
    padding: 15px;
    position: relative;
    width: 970px;
    z-index: 11
}

.accessorypopup .bookdetailwrap {
    background: none;
    box-shadow: none;
    padding: 0;
    margin: 0
}

.accessorypopup .bookdetail .image {
    padding: 15px
}

.accessorypopup .bookdetail .image img {
    transform: rotate(0);
    position: static;
    height: 312px;
    width: 288px
}

.accessorypopup .close {
    background: url('images2/close.jpg');
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    height: 16px;
    display: block;
    text-indent: -500em
}

.accessorypopup .bookdetail .action {
    margin-left: 300px
}

.pageloading {
    background: #000;
    color: #fff;
    padding: 5px 10px;
    position: fixed;
    top: 5px;
    right: 5px;
    display: none
}

#noelpopup {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9
}

#noelpopup .overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, .5);
    height: 100%;
    position: fixed;
    width: 100%
}

#noelpopup .wrap {
    margin: 60px auto 0;
    position: relative;
    width: 1000px
}

#noelpopup .close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0
}

#noelpopup a {
    display: block;
    line-height: 0
}

@media (min-width: 1200px) {
}

@media (min-width: 768px)and (max-width: 1100px) {
}

@media (min-width: 768px)and (max-width: 979px) {
}

@media (max-width: 979px) {
    .pagetitle {
        width: 100%
    }

    .accessorypopup .content {
        padding: 0;
        width: 95%
    }

    .accessorypopup .bookdetail .image {
        padding: 0;
        overflow: hidden
    }

    .accessorydetailwrap .bookdetail .info h1 {
        margin-bottom: 15px
    }

    .accessorydetailwrap .bookdetail .attributes {
        float: none;
        width: 100%;
        margin-bottom: 20px
    }

    .accessorydetailwrap .bookdetail .action {
        float: none;
        margin-left: 0;
        width: 100%
    }

    .accessory {
        width: 25%;
        margin-right: 0;
        background: none
    }

    .accessory a {
        display: block;
        background: #fff;
        margin: 5px
    }

    .accessory .img {
        overflow: hidden;
        padding: 0
    }

    .listbook {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        padding: 0 15px;
        width: auto
    }

    .checkorder .form .text {
        width: 80%
    }

    .checkorder .info, .checkorder .infodata {
        padding: 0 10px
    }

    .book {
        width: 25%;
        margin: 0;
        padding: 0;
        height: auto
    }

    .book .wrap {
        padding: 4%;
        width: 92%
    }

    .book .image {
        height: 230px;
        display: block;
        overflow: hidden
    }

    .book .image img {
        width: 100%;
        height: auto
    }

    .book .popup {
        display: none !important
    }

    .bookdetailwrap {
        width: 98%;
        padding: 0;
        margin: 0 auto
    }

    .bookdetailwrap .form {
        padding: 20px
    }

    .signup-button-facebook {
        display: inline-block
    }

    .pageheader {
        text-align: center
    }

    .articledetail {
        padding: 20px
    }

    .bookdetail {
        padding: 20px
    }

    .bookdetail .image {
        width: 30%
    }

    .bookdetail .info {
        margin-left: 0;
        float: right;
        width: 64%
    }

    .bookdetail .attributes {
        width: 45%
    }

    .bookdetail .action {
        width: 45%;
        margin-left: 0;
        float: right
    }

    .bookdetailblockcontent {
        padding: 0 20px
    }

    ul.listbook3 {
        width: 100%
    }

    .bookslider {
        padding: 0;
        overflow: hidden
    }

    .bookslider .prev {
        left: 2px
    }

    .bookslider .next {
        right: 2px
    }

    .fb-comments span, .fb-comments span iframe {
        width: 100% !important
    }

    .bookdetailblockcomment article, .fb-comments span iframe {
        width: 800px !important;
        margin: 0 auto
    }

    .bookdetailblock {
        margin: 50px 10px 0
    }

    .wrapper {
        width: 98%
    }

    .footermenu {
        height: auto
    }

    .footermenu .col {
        margin: 0;
        width: 50%
    }

    .footermenu .socialbtn {
        display: none
    }

    .header .wrap {
        width: 100%
    }
}

@media (max-width: 767px) {
    .bookdetailwrap .checkout-box {
        padding: 10px
    }

    .accessorypopup .close {
        background: rgba(0, 0, 0, 0) url("images2/closemobile.png") repeat scroll 0 0;
        height: 32px;
        width: 32px
    }

    .slider-wrapper {
        display: none
    }

    .checkout-head {
        display: none
    }

    .listaccessorywrap {
        padding: 0
    }

    .accessory {
        width: 33.33%
    }

    .book {
        width: 33.33%
    }

    .bookdetail .image {
        display: block;
        float: inherit;
        text-align: center;
        width: 100%;
        height: auto
    }

    .bookdetail .info {
        width: 100%;
        float: inherit;
        border: none
    }

    .bookdetailblockcomment article, .fb-comments span iframe {
        width: 600px !important
    }

    .checkout-box textarea {
        width: 300px
    }

    .checkout-banking .bank {
    }

    .checkout-banking .bank .img {
        float: none;
        width: auto
    }

    .checkout-banking .bank .info {
        padding: 0
    }

    .openmenu-icon, .opensearch-icon {
        width: 30px;
        height: 30px;
        background: url('Images2/menu-icon.png') no-repeat;
        position: absolute;
        left: 0;
        top: 10px;
        cursor: pointer
    }

    .opensearch-icon {
        background: url('Images2/search-icon.png') no-repeat;
        position: absolute;
        right: 0;
        left: auto
    }

    .page.opensearch .search {
        display: block
    }

    .page.openmenu #mainnav {
        display: block
    }

    .page .search {
        display: none;
        padding: 6px;
        top: 50px;
        width: 100%;
        z-index: 9999
    }

    .page .search .text {
        width: 96%
    }

    .page #mainnav {
        display: none
    }

    .header {
        background: rgba(0, 0, 0, 0) url("images2/menubg.png") repeat scroll 0 0;
        height: 50px
    }

    .header .wrap {
        height: 50px
    }

    .header .logo {
        height: 50px;
        left: 0;
        position: relative;
        top: 0;
        width: auto
    }

    .header .logo a {
        background: rgba(0, 0, 0, 0) url("images2/logo-mobile.png") no-repeat scroll 0 5px;
        height: 50px;
        margin: 0 auto;
        width: 155px
    }

    .hidden-mobile {
        display: none
    }

    .show-mobile {
        display: block
    }

    .header .cart {
        bottom: 20px;
        left: auto;
        position: fixed;
        right: 20px;
        top: auto;
        z-index: 6666
    }

    #mainnav {
        position: absolute;
        top: 50px;
        background: #fff;
        width: 100%;
        z-index: 999999
    }

    #mainnav .menu {
        height: auto;
        line-height: 20px
    }

    #mainnav .menu > li {
        float: none;
        width: auto
    }

    #mainnav .menu > li > a {
        border-bottom: 1px dotted #ccc;
        color: #0f5731;
        padding: 5px 10px;
        text-align: left
    }

    #mainnav .submenu {
        display: none
    }

    #mainnav .menu > li:hover > a, #mainnav .submenu > li:hover > a {
        background: none
    }

    #mainnav .menu > li:hover .submenu, #mainnav .submenu > li:hover .submenu2 {
        display: none
    }

    #mainnav .menu > li .submenu.submenu-open {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        box-shadow: none;
        display: block;
        left: auto;
        position: inherit;
        top: auto;
        width: 100%
    }

    #mainnav .submenu > li > a {
        background: none;
        color: #0f5731;
        border-bottom: 1px dotted #ccc;
        text-transform: none
    }
}

@media (max-width: 480px) {
    .pagetitle {
    }

    .pagetitle a:before {
        display: none
    }

    .pagetitle a:after {
        display: none
    }

    .pagetitle a {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        color: #0f5731;
        font-size: 18px;
        padding: 0;
        text-shadow: 0 0 2px #fff
    }

    .checkout-box input[type="text"], .checkout-box textarea {
        width: 90%
    }

    .accessory {
        width: 50%
    }

    .book {
        width: 50%
    }

    .book .wrap {
        padding: 3px;
        border: none
    }

    .bookdetail .attributes {
        float: none;
        width: 100%
    }

    .bookdetail .action {
        float: none;
        margin-top: 20px;
        width: 100%
    }

    .bookdetailblockcomment article, .fb-comments span iframe {
        width: 290px !important
    }

    .footermenu .col {
        width: 100%
    }

    .footer {
        background-repeat: repeat
    }

    .checkout-box label {
        display: block;
        float: none;
        width: auto
    }
}