*{margin: 0; padding: 0;}
a:active, a:hover {
    outline: 0;
}
a {
    text-decoration: none;
}

/**/
.header {
    background: url(Image/headerbg.png) repeat-x scroll 50% 0 rgba(0,0,0,0);
    background-image: url(Image/headerbg.png);
    background-position-x: 50%;
    background-position-y: 0px;
    background-size: initial;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-attachment: scroll;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 150px;
}
.header .topnav {
    float: left;
    width: 400px;
}
.header .topnav>li {
    display: inline;
    position: relative;
}
.header .topprofile {
    float: right;
}
.header .topbar a {
    color: #016600;
    font-size: 12px;
}
/*a:-webkit-any-link {*/
/*    color: -webkit-link;*/
/*    cursor: pointer;*/
/*    text-decoration: underline;*/
/*}*/
.header .topnav>li:first-child a:before {
    content: "";
    padding: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul, li {
    list-style: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.header .topbar {
    height: 22px;
    background: rgba(216,216,216,.6);
    line-height: 22px;
    text-transform: uppercase;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
}
.header .wrap{
    position: relative;
    height: 150px;
    width: 1000px;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
}
.header .logo {
    display: block;
    height: 90px;
    left: -1px;
    position: absolute;
    top: -15px;
    width: 514px;
}
.header .logo a {
    background: url(Image/logo.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 90px;
    text-indent: -500em;
}
.header .cart {
    background: url(Image/cart.png) no-repeat scroll left center rgba(0,0,0,0);
    color: #000;
    height: 55px;
    position: absolute;
    right: 0;
    text-indent: -500em;
    text-transform: uppercase;
    top: -10px;
    width: 55px;
    cursor: pointer;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
.header .search .submit {
    background: url(Image/searchbg.png) no-repeat scroll center center rgba(0,0,0,0);
    background-image: url(Image/searchbg.png);
    background-position-x: center;
    background-position-y: center;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: scroll;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
    display: block;
    height: 30px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0;
    text-indent: -500em;
    width: 30px;
}
.header .search {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    height: 28px;
    position: absolute;
    right: 0;
    top: 50px;
    width: 230px;
}
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
#mainnav {
    background: url(Image/menubg.png);
}
#mainnav .menu {
    text-align: justify;
    height: 40px;
    line-height: 40px;
}
#mainnav .menu>li {
    position: relative;
    width: 200px;
    float: left;
    text-align: center;
}
#mainnav .menu>li:hover {
    background:#0b2e13 ;

}#mainnav .menu>li:hover .submenu {
   display: block;

}
#mainnav .menu>li>a {
    color: #fff;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
}
#mainnav .submenu>li>a {
    background: none repeat scroll 0 0 #033801;
    color: #fff;
    display: block;
    line-height: 28px;
    margin-top: 1px;
    padding: 0 20px;
    text-transform: uppercase;
}
#mainnav .submenu {
    background: url(Image/menubg.png);
    background-image: url(Image/menubg.png);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    box-shadow: 2px 4px 3px rgb(0 0 0 / 60%);
    display: none;
    left: 0;
    position: absolute;
    top: 40px;
    z-index: 9999;
    width: 200px;
    padding: 0px;
}
#mainnav .submenu > li:hover .submenu2 {
    display: block
}

#mainnav .submenu2 {
    background: url("Image/menubg.png");
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .6);
    display: none;
    left: 200px;
    padding-left: 0px;
    position: absolute;
    top: -1px;
    z-index: 9999;
    width: 250px
}

#mainnav .submenu2 > li > a {
    background: none repeat scroll 0 0 #033801;
    color: #fff;
    display: block;
    line-height: 28px;
    margin-top: 1px;
    padding: 0 20px;
    text-transform: uppercase
}

#mainnav .submenu2 > li:first-child a {
    margin-top: 0;
    padding-top: 1px
}

#mainnav .submenu2 > li > a:hover {
    background: rgba(0, 0, 0, 0)
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ol ol, ul ul, ol ul, ul ol {
    margin-bottom: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
body {
    color: #333;
    font: 12px "Arial",Arial,Helvetica,sans-serif;
    background: url(Image/bg_pattern.jpg);
}
.nivoSlider a.nivo-imageLink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 6;
    display: none;
    background: #fff;
    filter: alpha(opacity=0);
    opacity: 0;
}
.theme-default .nivoSlider {
    position: relative;
    background: #fff url(Image/loading.gif) no-repeat 50% 50%;
    margin-top: 10px;
    overflow: visible;
    position: relative;
}
.slider-wrapper {
     width: 1000px;
     margin: 0 auto;
 }
.nivoSlider {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.theme-default .nivoSlider a {
    border: 0;
    display: block;
}
.theme-default .nivoSlider a {
    border: 0;
    display: block;
}
.nivo-main-image {
    display: block!important;
    position: relative!important;
    width: 100%!important;
}