
*{margin: 0px;padding: 0px;}

.slidewrapper {width: 100%;height: 100%;position: relative;overflow: hidden;}
/*Phan full man hinh va chia layer*/
.cacslide {width: 100%;height: 100%;position: absolute;transition: 1.4s;}

.cacslide ul {width: 100%;height: 100%;position: relative;}

.cacslide ul li {width: 100%;height: 100%;position: absolute;list-style: none;opacity: 0;}

.cacslide ul li.active {opacity: 1;transition: 0.4s;}

.cacslide ul li .motslide {width: 100%;height: 100%;position: relative;}

.motslide {width: 100%;height: 100%;}

.motslide .anh {width: 100%;height: 100%;background-size: cover;}

.motslide .anh1 {
    background: url(/Image/TA3SBT-member.jpg) left 20%;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.motslide .anh2 {
    background: url(/Image/TA3SBT-member.jpg) left 100%;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.motslide .anh3 {
    background: url(/Image/TA3SBT-member.jpg) left -80%;
    width: 100%;
    height: 100%;
    background-size: cover;
}


/*CSS chuyenslide*/


.chuyenslide ul li {
    display: inline-block;
    border: 1px solid white;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: 20px 10px;
    cursor: pointer;
    transition: 0.8s;
}

.chuyenslide {
    text-align: center;
}

.chuyenslide ul li.kichhoat {
    background: #00000096;
}

.chuyenslide {
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translateX(-50%);
    z-index: 10;
}